
.Eduactionitem{
    /* background-color: aqua; */
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.edu{
    background-color: rgb(255, 0, 64);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

h1{
    padding: 10px;
    width: 240px;
    margin: auto;
}