.table{
    background-color: rgb(0, 255, 81);
    align-items:flex-start;
    border: 1px solid rgb(0, 0, 0);
}

.tr{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}

