ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: rgb(227, 145, 145);
    justify-content: flex-end;

  }

ul li{
    background-color: rgb(170, 230, 230);
    padding: 10px;
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}